/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte */

/* H1 + H3 font */
.teko-normal {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* H2 font */
.oooh-baby-regular {
  font-family: "Oooh Baby", serif;
  font-weight: 400;
  font-style: normal;
}

/* P font */
.dm-sans-normal {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* billeder bliver sat til max-width 100% */
img {
  max-width: 100%;
}

/* styling af body på alle sider */
body {
  background-color: rgb(246, 246, 238);
}

h1 {
  font-family: "Teko", serif;
}

h2 {
  font-family: "Oooh Baby", serif;
}

h3 {
  font-family: "Teko", serif;
}

p {
  font-family: "DM Sans", serif;
}

/* alle links */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* logo */
.logo {
  position: absolute;
  width: 200px;
  aspect-ratio: 450/120;
  margin-top: -10px;
}

/* Menu */
header {
  position: relative;
  top: 0;
  align-items: center;
  padding: 22px;
  background-color: rgb(235, 232, 216);
}

nav {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: row-reverse;
}

.menu {
  display: none; /* Skjuler menuen som standard */
  flex-direction: column; /* Laver den vertikal */
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: rgb(235, 232, 216);
  border-radius: 5px;
  padding: 10px;
  gap: 20px;
  z-index: 10;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}
.button-link {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  font-family: "Oooh Baby", serif;
  transition: transform 0.2s; /* Animation */
}

/* hover effekt på menu */
.button-link:hover {
  transform: scale(1.3);
}

/* burgermenu */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  cursor: pointer;
  background-color: rgb(235, 232, 216);
}

.burger .line {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s;
}

/* hover effekt på burgermenu (de tre linjer) - forstørres, når musen bliver kørt over */
.burger:hover {
  transform: scale(1.3);
}

/* Når menuen er åben */
.menu.active {
  display: flex;
}

/* footer */
.footer {
  display: flex; /* Brug Flexbox for at opdele i kolonner */
  flex-direction: column; /* Kolonnerne stables vertikalt på mobile enheder */
  padding: 50px;
  text-align: center;
  background-color: rgb(235, 232, 216);
  width: 100%; /* Sikrer, at footeren strækker sig over hele bredden */
  margin-top: 50px;
  line-height: 1.8;
}

/* footer links tyling */
.kontakt,
.sociale-medier {
  margin-bottom: 20px; /* Afstand mellem de to sektioner */
}

.kontakt h3,
.sociale-medier h3 {
  margin-bottom: 10px; /* Lidt afstand under overskrifterne */
}

.gridikoner img {
  height: 30px; /* Sætter højden til 30px */
  width: auto; /* Bevarer proportionerne ved at justere bredden automatisk */
  margin-top: 10px;
}

/* hover effekt på logoerne - forstørres, når musen bliver kørt over */
.gridikoner img:hover {
  transform: scale(1.3);
}

/* Til computersite */
@media screen and (min-width: 768px) {
  /* logo forstørres i computersite */
  .logo {
    width: 300px;
    margin-top: -25px;
  }
  /* burgermenu fjernes i computersite */
  .burger {
    display: none;
  }

  .menu {
    display: flex; /* Gør menuen synlig hele tiden */
    flex-direction: row;
    position: static;
    background: none;
    gap: 50px;
    padding: 0;
  }
}
