/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Om mig side - CV */
/* CV container */
.cv {
  padding: 20px;
}
/* CV indhold */
.cv_content {
  display: flex; /* Brug Flexbox for at opdele i kolonner */
  justify-content: space-between; /* Sørg for at kolonnerne er adskilt */
  gap: 20px; /* Giv lidt afstand mellem kolonnerne */
}

/* Venstre kolonne */
.venstre_cv {
  flex: 1; /* Kolonnen fylder lige så meget som den anden */
}

/* Højre kolonne */
.hoejre_cv {
  flex: 1; /* Kolonnen fylder lige så meget som den anden */
}

/* footer */
.footer {
  display: flex; /* Brug Flexbox for at opdele i kolonner */
  flex-direction: column; /* Kolonnerne stables vertikalt på mobile enheder */
  padding: 50px;
  text-align: center;
  background-color: rgb(235, 232, 216);
  width: 100%; /* Sikrer, at footeren strækker sig over hele bredden */
  margin-top: 50px;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .praesentation {
    display: flex; /* Gør containeren fleksibel */
    justify-content: space-between; /* Fordeler pladsen mellem venstre og højre sektion */
    padding: 50px; /* Indre margin */
  }

  .portraet {
    display: flex;
    flex-direction: column; /* Stabler billedet og navnet vertikalt */
    align-items: center; /* Centrerer både billedet og navnet */
    flex: 1; /* Tildeler plads til venstre sektion */
  }

  .portraet img {
    width: 1000px; /* Gør billedet større */
    height: auto; /* Bevarer billedets proportioner */
  }

  .navn_h1 {
    margin-top: 10px; /* Skaber luft mellem billedet og navnet */
    font-size: 20px; /* Gør navnet mindre */
    text-align: center; /* Centrerer navnet */
  }

  .om_mig_tekst_1,
  .om_mig_tekst_2 {
    flex: 1; /* Giver lidt plads til teksten */
    text-align: left; /* Justerer teksten til venstre */
    max-width: 600px; /* Begrænser bredden af teksten */
    margin-bottom: 20px; /* Skaber afstand mellem de to tekstbokse */
  }
}
