/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Om mig side - CV */
/* CV container */
.cv {
  padding: 20px;
}
/* CV indhold */
.cv_content {
  display: flex; /* Brug Flexbox for at opdele i kolonner */
  justify-content: space-between; /* Sørg for at kolonnerne er adskilt */
  gap: 20px; /* Giv lidt afstand mellem kolonnerne */
}

/* Venstre kolonne */
.venstre_cv {
  flex: 1; /* Kolonnen fylder lige så meget som den anden */
}

/* Højre kolonne */
.hoejre_cv {
  flex: 1; /* Kolonnen fylder lige så meget som den anden */
}

/* footer */
.footer {
  display: flex; /* Brug Flexbox for at opdele i kolonner */
  flex-direction: column; /* Kolonnerne stables vertikalt på mobile enheder */
  padding: 50px;
  text-align: center;
  background-color: rgb(235, 232, 216);
  width: 100%; /* Sikrer, at footeren strækker sig over hele bredden */
  margin-top: 50px;
  line-height: 1.8;
}

.kontakt,
.sociale-medier {
  margin-bottom: 20px; /* Afstand mellem de to sektioner */
}

.kontakt h3,
.sociale-medier h3 {
  margin-bottom: 10px; /* Lidt afstand under overskrifterne */
}

.gridikoner img {
  height: 30px; /* Sætter højden til 30px */
  width: auto; /* Bevarer proportionerne ved at justere bredden automatisk */
  margin-top: 10px;
}
