/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Forside */
.index_tekst {
  color: rgb(98, 96, 96);
  text-align: center;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.index_billede {
  aspect-ratio: 980/640;
  margin: 30px;
  margin-bottom: 70px;
}

.link_til_om_mig_tekst {
  font-size: 18px;
  margin: 30px;
  line-height: 1.8;
  text-align: center;
}

.om_mig_link {
  color: rgb(98, 96, 96);
  font-size: 20px;
  margin-top: 50px;
  background-color: rgb(162, 154, 139);
  padding: 3px 3px; /* Tilføjer afstand i baggrunden */
  border-radius: 70px; /* runder hjørnerne */
  margin: 70px;
  text-decoration: none;
  text-align: center;
}
/* hover effekt på 'om mig' linket, så det forstørres, når musen kører over */
.om_mig_link h3:hover {
  transform: scale(1.3);
}

/* Om mig side */
/* linket til navnebetydning */
.navn_link {
  text-decoration: none;
  color: rgb(98, 96, 96);
}

/* justering af tekst til navn */
.navn_h1 {
  text-align: center;
  margin: 15px;
  font-size: 18px;
  background-color: rgb(162, 154, 139);
  padding: 3px 3px; /* Tilføjer afstand i baggrunden */
  border-radius: 70px; /* runder hjørnerne */
}

/* hover effekt på navnelink - forstørrer teksten, når musen køres over */
.navn_h1:hover {
  transform: scale(1.2);
}

/* justering af overskriftsteksten */
.om_mig_tekst_1 {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.8;
}

/* justering af teksten */
.om_mig_tekst_2 {
  font-size: 18px;
  line-height: 1.8;
  margin: 30px;
  text-align: left;
  margin-bottom: 40px;
}
/* afstand mellem sektionerne i teksten */
.om_mig_tekst_2 p {
  margin-bottom: 12px;
}

/* Om mig side - CV */
/* CV container */
.cv {
  padding: 20px;
}
/* CV indhold */
.cv_content {
  display: flex; /* Brug Flexbox for at opdele i kolonner */
  justify-content: space-between; /* Sørg for at kolonnerne er adskilt */
  gap: 20px; /* Giv lidt afstand mellem kolonnerne */
}

.cv_h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 22px;
  background-color: rgb(162, 154, 139);
  padding: 3px 3px; /* Tilføjer afstand i baggrunden */
  border-radius: 70px; /* runder hjørnerne */
}

/* Venstre kolonne */
.venstre_cv {
  flex: 1; /* Kolonnen fylder lige så meget som den anden */
}

/* Højre kolonne */
.hoejre_cv {
  flex: 1; /* Kolonnen fylder lige så meget som den anden */
}

.cv {
  line-height: 1.8;
  font-size: 15px;
  text-align: left;
}

.cv h3 {
  font-size: 20px;
}

/* Styling af individuelle sektioner til CV */
.uddannelse,
.Sprog,
.Kompetencer,
.Erhvervserfaring {
  margin-bottom: 10px; /* Afstand mellem sektioner */
}

.galleri_tekst {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: rgb(162, 154, 139);
  padding: 3px 20px; /* Tilføjer afstand i baggrunden */
  border-radius: 70px; /* runder hjørnerne */
}

.galleri {
  display: grid;
  gap: 10px; /* Afstand mellem billederne */
  grid-template-columns: repeat(2, 1fr); /* To kolonner som standard (mobilversion) */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -30px; /* Gør afstanden fra de sidste billeder til footeren mindre */
}

.galleri img {
  width: 100%; /* Sørger for, at billederne fylder deres celler */
  height: auto; /* Bevarer billedets proportioner */
}

/* justering på portfolio-siden */

/* justering af h1 på portfolio-siden */
.portfolio h1 {
  color: rgb(98, 96, 96);
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

/* justering af h2 på portfolio-siden */
.portfolio h2 {
  text-align: center;
  line-height: 1.8;
  margin-top: 10px; /* justering af afstanden mellem de forskellige h2'er i samme felt */
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: -10px; /* gør afstanden mindre mellem h2 og h4 overskriften */
}

/* justering af illustration på portfolio-side */
.portfolio_illustration {
  aspect-ratio: 800/410;
  margin-top: 40px;
}

/* justering af overskrifter til mine gamle sites på portfolio-side */
.portfolio h4 {
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
  margin-left: 20px